{% extends "base.html" %}

{% block content %}
    <h2>Mes Aquariums</h2>
    <div class="aquarium-list">
        {% for aquarium in aquariums %}
            <div class="aquarium-card">
                <h3>{{ aquarium['name'] }}</h3>
                <p>Volume: {{ aquarium['volume'] }} L</p>
                <p>{{ aquarium['description'] }}</p>
                <a href="{{ url_for('aquarium_detail', aquarium_id=aquarium['id']) }}" class="btn">Voir détails</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
